<div class="comments">
  {{#each this}}
    <div class="card">
        <section class="comment card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div>
                -{{user.username}}
            </div>
        </section>
    </div>
  {{/each}}
</div>

    